 body {
  border-top: solid 10px #496f87;
}

.centered {
  width: 60%;
  margin:20px auto;
}

h1 {
  color: #b4bcc2;
}

a.btn {
  width: 50%;
  font-size: 3em;
  margin-bottom: 10px
}

a {
  color: #496f87;
}

p {
  font-size: 22px;
  color: #2c3e50;
}

.sponsor {
  font-size: 1.3em;
}

.sponsor a {
  background: url(bars.png) no-repeat;
  height: 100px;
  display: block;
  padding-left: 50px;
  padding-top: 12px;
  text-decoration: none;
}

.btn-primary {
  background-color: #496f87;
}

.foot p {
  font-size: 12px;
  color: #eeeeee;
}

.foot  p a {
  color: #b4bcc2;
}
